*{
    margin: 0%;
    padding: 0%;
}

body{
    background: url(../images/bg-pattern-bottom-desktop.jpg) right -60% no-repeat,
                url(../images/bg-pattern-top-desktop.svg) left top no-repeat;
    font-family: Spartan;
}

.grid{
    margin: auto;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 20%;
    width: 100%;
    display: grid;
    grid-template-columns: 23% 12% 65%;
    grid-gap: 1em;
}


.MainText h1{
    color: hsl(300, 43%, 22%);
    font-size: 50px;
}

.MainText p{
    padding-top: 20px;
    font-family: Spartan;
    font-size: 18px;
}

.Ratting ul{
    list-style: none;   
    margin-left: 50px;
    padding: 15px 30px 30px 30px;
}

.Ratting ul li{
    border-radius: 15px;
    width: 500px;
    height: 50px;
    padding-left: 60px;
    padding-top: 30px;
    background-color: hsl(300, 24%, 96%);
} 